:root {
  --black: #0a0a0a;
  --danger: #fc0362;
  --dark: #252e3c;
  --info: #1677df;
  --link: #7703fc;
  --primary: #7703fc;
  --success: #16df95;
  --warning: #f2b736;
  --white: white; }

:root {
  --black--10--rgba: rgb(10 10 10 / 10%);
  --black--2--rgba: rgb(10 10 10 / 2%);
  --black--20--rgba: rgb(10 10 10 / 20%);
  --black--5--rgba: rgb(10 10 10 / 5%);
  --black--800--lighten: #1e1e1e;
  --danger--color-invert: white;
  --danger--dark-color: #e30358;
  --danger--light-color: #ffebf2;
  --dark--800--lighten: #354155;
  --dark--color-invert: white;
  --info--color-invert: white;
  --info--dark-color: #1570d1;
  --info--light-color: #ecf5fd;
  --link--color-invert: white;
  --link--dark-color: #7a08fc;
  --link--light-color: #f4ebff;
  --primary--color-invert: white;
  --primary--dark-color: #7a08fc;
  --primary--light-color: #f4ebff;
  --success--color-invert: rgb(0 0 0 / 70%);
  --success--dark-color: #0d875a;
  --success--light-color: #ecfdf7;
  --warning--color-invert: rgb(0 0 0 / 70%);
  --warning--dark-color: #8b6209;
  --warning--light-color: #fef8ec;
  --white--800--lighten: white; }
