h1.head {
  font-family: "Josefin Sans", sans-serif;
  font-size: 90px;
  line-height: 100px;
  font-weight: 700;
}

h2.title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
  line-height: 70px;
}

h3.subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 36px;
  line-height: 46px;
  font-weight: 600;
}

h4.lasthead {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}

p.text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.banner {
  background-image: url('/assets/images/banner-bg.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 223px 0 225px;
  position: relative;

  .illustration {
    .one {
      position: absolute;
      top: 15%;
      right: -5%;
      z-index: 0;
      animation: trantani 6s ease-in-out infinite;
    }

    .two {
      position: absolute;
      top: 21%;
      left: -5%;
      z-index: 1;
      animation: upornis 6s ease-in-out infinite;
      max-width: 16%;
    }

    .three {
      position: absolute;
      left: 0%;
      bottom: 0%;
      z-index: 1;
    }
  }

  .hero-area {
    position: relative;
    z-index: 2;

    .banner-content {
      h3 {
        &.subtitle {
          color: #6342ff;
        }
      }

      h1 {
        &.head {
          color: #33276a;
          font-weight: 700;
          padding: 23px 0 13px;
        }
      }

      p {
        &.text {
          font-family: "Open Sans", sans-serif;
          font-size: 24px;
          line-height: 34px;
          font-weight: 500;
          color: #4f457c;
        }
      }

      a {
        &.button {
          margin-top: 38px;
        }
      }
    }

    .exchange {
      background-color: #fff;
      border-radius: 20px;
      box-shadow: -1.361px 25.964px 40px 0 rgb(104 67 255 / 20%);
      padding: 40px;
      background-image: url("/assets/images/exchange-bg.png");
      background-repeat: no-repeat;
      background-size: 100% 144px, cover;
      background-position: left 0 top 0;

      h5 {
        &.ex-head {
          font-size: 28px;
          font-family: "Josefin Sans", sans-serif;
          color: white;
          font-weight: 700;
          line-height: 1.357;
          text-align: center;
          padding-bottom: 40px;
        }
      }

      .exchange-box {
        padding-top: 20px;

        .selector {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 8px;

          p {
            &.text {
              font-size: 18px;
              font-family: "Open Sans", sans-serif;
              color: #6342ff;
              line-height: 1.556;
            }
          }

          .coin {
            display: flex;
            align-items: center;

            img {
              margin-right: 5px;
            }

            .language-select {
              .nice-select {
                border: 0;
                width: 85px;
                font-family: "Open Sans", sans-serif;
                font-size: 18px;
                line-height: 28px;
                font-weight: 600;
                color: #777;
                height: auto;
                padding: 3px 0 0;
                background: transparent;

                &::after {
                  border-bottom: 2px solid #777;
                  border-right: 2px solid #777;
                  width: 14px;
                  height: 14px;
                  top: 40%;
                }

                .list {
                  width: 100px;

                  li {
                    text-align: center;
                    font-family: "Open Sans", sans-serif;
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 600;
                    color: #777;
                  }
                }
              }
            }

            span {
              &.current {
                color: #777;
              }
            }
          }
        }

        .form-group {
          input {
            border: 1px solid #d2c8ec;
            background-color: white;
            border-radius: 30px;
            padding: 10px 20px;
            font-size: 24px;
            font-family: "Open Sans", sans-serif;
            color: #4938a2;

            &::placeholder {
              font-size: 24px;
              font-family: "Open Sans", sans-serif;
              color: #4938a2;
            }

          }
        }

        span {
          display: block;
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          color: #4938a2;
          text-transform: uppercase;
          line-height: 1.75;
          padding-top: 6px;
        }
      }

      a {
        &.rotate {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 10px;
        }

        &.button {
          &.button-1 {
            width: 100%;
            margin-top: 30px;
            border-radius: 20px;
            box-shadow: 0 7px 13px 0 rgb(153 99 255 / 59%);
            font-size: 18px;
            font-weight: 700;
            font-family: "Open Sans", sans-serif;
            line-height: normal;
          }
        }
      }
    }
  }
}

.is-dark {
  .banner {
    background: rgb(2 0 36);
    background: linear-gradient(180deg, rgb(2 0 36 / 100%) 0%, rgb(40 28 61 / 100%) 0%, rgb(13 4 26 / 100%) 100%);

    .illustration {
      opacity: 0.15;

       .three {
         opacity: 0.6;
       }
    }

    .head, {
      color: var(--title-color)!important;
    }

  }

  .subtitle, .text, .title {
    color: var(--paragraph-color-inverted)!important;
  }

  .earningpartners .item p.text {
    color: #33276a!important;
  }

}

/* Earningpartners Start */
.earningpartners {
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  padding: 55px 0 133px;
  position: relative;

  .bg {
    .dp-bg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      z-index: -9;
    }
  }

  .deposit-amounts {
    padding: 0 0 60px;

    h3 {
      &.subtitle {
        text-align: center;
        margin-bottom: 14px;
        color: #33276a;
      }
    }

    .coin-box {
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      flex-wrap: wrap;

      .item {
        margin: 20px 30px 0 0;
        background-color: white;
        box-shadow: -2.084px 11.818px 29px 0 rgb(208 198 238 / 51%);
        width: 241px;
        height: 80px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          &.text {
            color: #33276a;
            padding-left: 10px;
          }
        }
      }
    }
  }
}

/* Counter Start */
.counter {
  padding: 28px 0 57px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .page-counter {
    margin-top: 30px;
    text-align: center;
    position: relative;

    &::after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0%;
      width: 1px;
      height: 80%;
      content: "";
      background-color: #babef7;
    }

    .counter-item {
      h2 {
        &.title {
          font-family: "Josefin Sans", sans-serif;
          font-size: 60px;
          line-height: 70px;
          color: #fff;
          font-weight: 600;

          span {
            font-family: "Josefin Sans", sans-serif;
            font-size: 60px;
            line-height: 70px;
            color: #fff;
            font-weight: 600;
          }
        }
      }

      p {
        &.text {
          color: rgb(255 255 255 / 90%);
        }
      }
    }

    &.four {
      &::after {
        display: none;
      }
    }
  }
}


/* Process Start */
.process {
  padding: 115px 0 120px;

  .upper-content {
    h4 {
      &.lasthead {
        color: #6342ff;
      }
    }

    h2 {
      &.title {
        color: #3b368c;
      }
    }

    p {
      &.text {
        color: #504c89;
      }
    }
  }

  .videoo {
    margin-top: 27px;
    position: relative;

    .video-bg {
      width: 100%;
    }

    .video-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 50px;
      background-color: white;
      box-shadow: 20.338px 23.396px 32px 0 rgb(180 185 246 / 31%);
      padding: 13px 50px 13px 13px;

      .video-img {
        position: relative;
        border-radius: 50%;
        background-color: #6a4ee1;
        width: 78px;
        height: 78px;

        i {
          position: absolute;
          top: 50%;
          left: 55%;
          transform: translate(-50%, -50%);
          color: #fff;
          font-size: 35px;
        }
      }

      .video-text {
        margin-left: 20px;

        p {
          &.text {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            line-height: 28px;
            font-weight: 600;
            color: #6a35ff;
          }
        }

        span {
          font-family: "Open Sans", sans-serif;
          color: #3b368c;
          font-size: 14px;
          line-height: 24px;
          font-weight: 600;
        }
      }
    }
  }
}

