h1.head {
  font-family: "Josefin Sans", sans-serif;
  font-size: 90px;
  line-height: 100px;
  font-weight: 700; }

h2.title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
  line-height: 70px; }

h3.subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 36px;
  line-height: 46px;
  font-weight: 600; }

h4.lasthead {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600; }

p.text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400; }

/* Banners Start */
.banner {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 223px 0 225px;
  position: relative; }
  .banner .illustration .one {
    position: absolute;
    top: 15%;
    right: -5%;
    z-index: 0;
    -webkit-animation: trantani 6s ease-in-out infinite;
    animation: trantani 6s ease-in-out infinite; }
  .banner .illustration .two {
    position: absolute;
    top: 21%;
    left: -5%;
    z-index: 1;
    -webkit-animation: upornis 6s ease-in-out infinite;
    animation: upornis 6s ease-in-out infinite;
    max-width: 16%; }
  .banner .illustration .three {
    position: absolute;
    left: 0%;
    bottom: 0%;
    z-index: 1; }
  .banner .hero-area {
    position: relative;
    z-index: 2; }
    .banner .hero-area .banner-content h3.subtitle {
      color: #6342ff; }
    .banner .hero-area .banner-content h1.head {
      color: #33276a;
      font-weight: 700;
      padding: 23px 0 13px; }
    .banner .hero-area .banner-content p.text {
      font-family: "Open Sans", sans-serif;
      font-size: 24px;
      line-height: 34px;
      font-weight: 500;
      color: #4f457c; }
    .banner .hero-area .banner-content a.button {
      margin-top: 38px; }
    .banner .hero-area .exchange {
      background-color: #fff;
      border-radius: 20px;
      -webkit-box-shadow: -1.361px 25.964px 40px 0px rgba(104, 67, 255, 0.2);
      box-shadow: -1.361px 25.964px 40px 0px rgba(104, 67, 255, 0.2);
      padding: 40px 40px 40px 40px;
      background-image: url("../img/exchange-bg.png");
      background-repeat: no-repeat;
      background-size: 100% 144px, cover;
      background-position: left 0px top 0px; }
      .banner .hero-area .exchange h5.ex-head {
        font-size: 28px;
        font-family: "Josefin Sans", sans-serif;
        color: white;
        font-weight: 700;
        line-height: 1.357;
        text-align: center;
        padding-bottom: 40px; }
      .banner .hero-area .exchange .exchange-box {
        padding-top: 20px; }
        .banner .hero-area .exchange .exchange-box .selector {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          padding-bottom: 8px; }
          .banner .hero-area .exchange .exchange-box .selector p.text {
            font-size: 18px;
            font-family: "Open Sans", sans-serif;
            color: #6342ff;
            line-height: 1.556; }
          .banner .hero-area .exchange .exchange-box .selector .coin {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
            .banner .hero-area .exchange .exchange-box .selector .coin img {
              margin-right: 5px; }
            .banner .hero-area .exchange .exchange-box .selector .coin .language-select .nice-select {
              border: 0;
              width: 85px;
              font-family: "Open Sans", sans-serif;
              font-size: 18px;
              line-height: 28px;
              font-weight: 600;
              color: #777777;
              height: auto;
              padding: 3px 0px 0px;
              background: transparent; }
              .banner .hero-area .exchange .exchange-box .selector .coin .language-select .nice-select:after {
                border-bottom: 2px solid #777777;
                border-right: 2px solid #777777;
                width: 14px;
                height: 14px;
                top: 40%; }
              .banner .hero-area .exchange .exchange-box .selector .coin .language-select .nice-select .list {
                width: 100px; }
                .banner .hero-area .exchange .exchange-box .selector .coin .language-select .nice-select .list li {
                  text-align: center;
                  font-family: "Open Sans", sans-serif;
                  font-size: 18px;
                  line-height: 28px;
                  font-weight: 600;
                  color: #777777; }
            .banner .hero-area .exchange .exchange-box .selector .coin span.current {
              color: #777777; }
        .banner .hero-area .exchange .exchange-box .form-group input {
          border: 1px solid #d2c8ec;
          background-color: white;
          border-radius: 30px;
          padding: 10px 20px 10px;
          font-size: 24px;
          font-family: "Open Sans", sans-serif;
          color: #4938a2; }
          .banner .hero-area .exchange .exchange-box .form-group input::-webkit-input-placeholder {
            font-size: 24px;
            font-family: "Open Sans", sans-serif;
            color: #4938a2; }
          .banner .hero-area .exchange .exchange-box .form-group input::-moz-placeholder {
            font-size: 24px;
            font-family: "Open Sans", sans-serif;
            color: #4938a2; }
          .banner .hero-area .exchange .exchange-box .form-group input:-ms-input-placeholder {
            font-size: 24px;
            font-family: "Open Sans", sans-serif;
            color: #4938a2; }
          .banner .hero-area .exchange .exchange-box .form-group input::-ms-input-placeholder {
            font-size: 24px;
            font-family: "Open Sans", sans-serif;
            color: #4938a2; }
          .banner .hero-area .exchange .exchange-box .form-group input::placeholder {
            font-size: 24px;
            font-family: "Open Sans", sans-serif;
            color: #4938a2; }
        .banner .hero-area .exchange .exchange-box span {
          display: block;
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          color: #4938a2;
          text-transform: uppercase;
          line-height: 1.75;
          padding-top: 6px; }
      .banner .hero-area .exchange a.rotate {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 10px; }
      .banner .hero-area .exchange a.button.button-1 {
        width: 100%;
        margin-top: 30px;
        border-radius: 20px;
        -webkit-box-shadow: 0px 7px 13px 0px rgba(153, 99, 255, 0.59);
        box-shadow: 0px 7px 13px 0px rgba(153, 99, 255, 0.59);
        font-size: 18px;
        font-weight: 700;
        font-family: "Open Sans", sans-serif;
        line-height: normal; }

/* Earningpartners Start */
.earningpartners {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  padding: 55px 0px 133px;
  position: relative; }
  .earningpartners .bg .dp-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: -9; }
  .earningpartners .deposit-amounts {
    padding: 0px 0 60px; }
    .earningpartners .deposit-amounts h3.subtitle {
      text-align: center;
      margin-bottom: 14px;
      color: #33276a; }
    .earningpartners .deposit-amounts .coin-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .earningpartners .deposit-amounts .coin-box .item {
        margin: 20px 30px 0px 0px;
        background-color: white;
        -webkit-box-shadow: -2.084px 11.818px 29px 0px rgba(208, 198, 238, 0.51);
        box-shadow: -2.084px 11.818px 29px 0px rgba(208, 198, 238, 0.51);
        width: 241px;
        height: 80px;
        border-radius: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .earningpartners .deposit-amounts .coin-box .item p.text {
          color: #33276a;
          padding-left: 10px; }

/* Counter Start */
.counter {
  padding: 28px 0 57px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .counter .page-counter {
    margin-top: 30px;
    text-align: center;
    position: relative; }
    .counter .page-counter:after {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 0%;
      width: 1px;
      height: 80%;
      content: "";
      background-color: #babef7; }
    .counter .page-counter .counter-item h2.title {
      font-family: "Josefin Sans", sans-serif;
      font-size: 60px;
      line-height: 70px;
      color: #fff;
      font-weight: 600; }
      .counter .page-counter .counter-item h2.title span {
        font-family: "Josefin Sans", sans-serif;
        font-size: 60px;
        line-height: 70px;
        color: #fff;
        font-weight: 600; }
    .counter .page-counter .counter-item p.text {
      color: rgba(255, 255, 255, 0.9); }
    .counter .page-counter.four:after {
      display: none; }

/* Process Start */
.process {
  padding: 115px 0px 120px; }
  .process .upper-content h4.lasthead {
    color: #6342ff; }
  .process .upper-content h2.title {
    color: #3b368c; }
  .process .upper-content p.text {
    color: #504c89; }
  .process .videoo {
    margin-top: 27px;
    position: relative; }
    .process .videoo .video-bg {
      width: 100%; }
    .process .videoo .video-box {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 50px;
      background-color: white;
      -webkit-box-shadow: 20.338px 23.396px 32px 0px rgba(180, 185, 246, 0.31);
      box-shadow: 20.338px 23.396px 32px 0px rgba(180, 185, 246, 0.31);
      padding: 13px 50px 13px 13px; }
      .process .videoo .video-box .video-img {
        position: relative;
        border-radius: 50%;
        background-color: #6a4ee1;
        width: 78px;
        height: 78px; }
        .process .videoo .video-box .video-img i {
          position: absolute;
          top: 50%;
          left: 55%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          color: #fff;
          font-size: 35px; }
      .process .videoo .video-box .video-text {
        margin-left: 20px; }
        .process .videoo .video-box .video-text p.text {
          font-family: "Open Sans", sans-serif;
          font-size: 18px;
          line-height: 28px;
          font-weight: 600;
          color: #6a35ff; }
        .process .videoo .video-box .video-text span {
          font-family: "Open Sans", sans-serif;
          color: #3b368c;
          font-size: 14px;
          line-height: 24px;
          font-weight: 600; }

/* Footer Start */
.footer {
  padding: 102px 0px 30px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat; }
  .footer .footer-box {
    padding: 30px 0 30px; }
    .footer .footer-box .logo {
      padding-bottom: 25px; }
    .footer .footer-box h4.lasthead {
      color: #ffffff;
      padding-bottom: 12px; }
    .footer .footer-box p.text {
      color: rgba(255, 255, 255, 0.9); }
    .footer .footer-box .footer-link li {
      color: rgba(255, 255, 255, 0.9);
      padding-top: 8px; }
      .footer .footer-box .footer-link li a {
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.9);
        -webkit-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in; }
        .footer .footer-box .footer-link li a:hover {
          color: #fff; }
  .footer .raka {
    border-top: 1px solid #686fc5;
    margin: 85px 0 30px; }
  .footer .footer-bottom p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9); }
  .footer .footer-bottom a {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9); }
  .footer .footer-bottom .social-style {
    text-align: right; }
    .footer .footer-bottom .social-style a {
      margin-left: 8px;
      color: rgba(255, 255, 255, 0.9);
      border: 1px solid rgba(255, 255, 255, 0.9);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      display: inline-block;
      -webkit-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in; }
      .footer .footer-bottom .social-style a:hover {
        border: 0;
        background: linear-gradient(24deg, #903eff 17%, #ea07fe 100%);
        -webkit-box-shadow: -1.816px 3.564px 10px 0px rgba(60, 49, 172, 0.29);
        box-shadow: -1.816px 3.564px 10px 0px rgba(60, 49, 172, 0.29); }

/*# sourceMappingURL=custom.css.map */
